@using UrlShortener.App.ViewModels
@model AuthenticateRequest

<head>
    <link rel="stylesheet" href="~/css/forms.css" />
</head>

<div class="container-form">
    <div class="form">
        <h1>Login</h1>

        <form asp-controller="Authentication" asp-action="Login" method="post" id="loginForm">
            <div asp-validation-summary="All" class="error-text"></div>
            @if (TempData["LoginErrorMessage"] != null)
            {
                <p class="error-text">@TempData["LoginErrorMessage"]</p>
            } 

            <div class="form-content">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email" class="form-input" placeholder=" " required />
                <span asp-validation-for="Email" class="error-text"></span>
            </div>

            <div class="form-content">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-input password" placeholder=" " required />
                <span asp-validation-for="Password" class="error-text"></span>
            </div>

            <button type="submit" class="form-btn">Login</button>

            <p class="form-loggined">
                Don't have an account? <a asp-controller="authentication" asp-action="register">Sign-up!</a>
            </p>
        </form>
    </div>
</div>